.feynman__link {
    color: #2f80ed;
    line-height: 51px;
    font-size: 34px;
    font-weight: normal;
    display: flex;
    position: absolute;
    margin: auto;
    right: 48px;
    top: 50%;
    text-decoration: none;
    opacity: 1;
  }

.feynman__link:hover {
  transition: 1s;
  opacity: 0.6;
}