.header__link {
    color: #2f80ed;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    opacity: 1;
  }

.header__link:hover {
  transition: 1s;
  opacity: 0.6;
}